<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Container_Loader/src/com/tosca/iaas/Container_Loader_Implementation.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.tosca.iaas.Container_Loader_Implementation"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="c:/TOSCA/apache-tomcat-7.0.25-windows-x86/apache-tomcat-7.0.25/"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Container_Loader"/>
</launchConfiguration>
